@model GestionContructora.Controllers.Categorias

@{
    ViewBag.Title = "Página Eliminar Catagoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Categoría</h2>

<h3>¿Estas seguro de eliminar?</h3>
<div>
    <h4>Categorias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
